<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
        <menu id="root-menu" label="OpenBox 3">
                        <item label="Run program">
                                <action name="Execute">
                                        <execute>launcher</execute>
                                </action>
                        </item>
                        <separator/>
                        <item label="Terminal">
                                <action name="Execute">
                                        <execute>urxvt</execute>
                                </action>
                        </item>
                        <item label="Web Browser">
                                <action name="Execute">
                                        <execute>firefox</execute>
                                </action>
                        </item>
                        <item label="File Manager">
                                <action name="Execute">
                                        <execute>thunar</execute>
                                </action>
                        </item>

        <separator/>

        <menu id="18" label="Games">
                        <menu id="17" label="Touhou">
                                <item label="TH 08">
                                        <action name="Execute">
                                                <execute>wine ~/Games/th08/nixx-th08/th08/th08.exe</execute>
                                        </action>
                                </item>
                                <item label="TH 17">
                                        <action name="Execute">
                                                <execute>wine ~/Games/th17/th17/th17.exe</execute>
                                        </action>
                                </item>
                        </menu>
                        <menu id="16" label="VN">
                                <item label="Katawa Shoujo">
                                        <action name="Execute">
                                                <execute>bash ~/Games/Katawa\ Shoujo/Katawa\ Shoujo.sh</execute>
                                        </action>
                                </item>
                                <item label="Saya no Uta">
                                        <action name="Execute">
                                                <execute>wine ~/Games/Saya\ no\ Uta/saya.exe</execute>
                                        </action>
                                </item>
                                <item label="Hemoimo">
                                        <action name="Execute">
                                                <execute>wine ~/Games/Hemoimo/hemoimo.exe</execute>
                                        </action>
                                </item>
                        </menu>
                        <item label="OpenArena">
                                <action name="Execute">
                                        <execute>openarena</execute>
                                </action>
                        </item>
                        <item label="Opsu!">
                                <action name="Execute">
                                        <execute>opsu</execute>
                                </action>
                        </item>

                    <item label="Minetest">
                        <action name="Execute">
                                <execute>minetest</execute>
                        </action>
                </item>

        <item label="Steam">
                <action name="Execute">
                        <execute>steam</execute>
                </action>
        </item>

            <item label="Dosbox"> <action name="Execute">
                <execute>dosbox</execute>
            </action> </item>
        </menu>
        <menu id="6" label="Graphics">
                <item label="GIMP">
                        <action name="Execute">
                                <execute>gimp</execute>
                </action>
        </item>
        <item label="Inkscape">
                <action name="Execute">
                        <execute>inkscape</execute>
                </action>
        </item>
                <item label="MComix">
                        <action name="Execute">
                                <execute>mcomix</execute>
                        </action>
                </item>
        </menu>
        <menu id="7" label="Multimedia">
                <item label="Pavucontrol">
                        <action name="Execute">
                                <execute>pavucontrol</execute>
                        </action>
                </item>
                <item label="Audacity">
                        <action name="Execute">
                                <execute>audacity</execute>
                        </action>
                </item>
                <item label="Lollypop">
                        <action name="Execute">
                                <execute>lollypop</execute>
                        </action>
                </item>
        </menu>
        <menu id="5" label="Internet">
                <item label="Brave">
                        <action name="Execute">
                                <execute>brave</execute>
                        </action>
                </item>
                <item label="Discord">
                        <action name="Execute">
                                <execute>discord</execute>
                        </action>
                </item>
                <item label="Firefox">
                        <action name="Execute">
                                <execute>firefox</execute>
                        </action>
                </item>
                <item label="Riot">
                        <action name="Execute">
                                <execute>riot-desktop</execute>
                        </action>
                </item>
                <item label="Qutebrowser">
                        <action name="Execute">
                                <execute>qutebrowser</execute>
                        </action>
                </item>
                <item label="Transmission">
                        <action name="Execute">
                                <execute>transmission-gtk</execute>
                        </action>
                </item>
        </menu>

        <menu id="3" label="Office">
            <item label="LibreOffice Calc"> <action name="Execute">
                <execute>libreoffice --calc</execute>
            </action> </item>
            <item label="LibreOffice Impress"> <action name="Execute">
                <execute>libreoffice --impress</execute>
            </action> </item>
            <item label="LibreOffice Math"> <action name="Execute">
                <execute>libreoffice --math</execute>
            </action> </item>
            <item label="LibreOffice Writer"> <action name="Execute">
                <execute>libreoffice --writer</execute>
            </action> </item>
        </menu>

        <separator/>

        <menu id="37" label="Settings">
                <item label="ARandR">
                        <action name="Execute">
                                <execute>arandr</execute>
                        </action>
                </item>
                <item label="Pointing Devices">
                        <action name="Execute">
                                <execute>gpointing-device-settings</execute>
                        </action>
                </item>
                <item label="Lxappearance">
                        <action name="Execute">
                                <execute>lxappearance</execute>
                        </action>
                </item>
                <item label="UIM Preference">
                        <action name="Execute">
                                <execute>uim-pref-gtk</execute>
                        </action>
                </item>
                <item label="Openbox Preference">
                        <action name="Execute">
                                <execute>obconf</execute>
                        </action>
                </item>
        </menu>

        <separator/>

	<item label="Exit">
		<action name="Execute">
			<command>openbox --exit</command>
		</action>
    </menu>
</openbox_menu>
